
.login-form{
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    border: 1px solid beige;
    /* box-shadow: 10px 5px 10px 5px grey; */
}

@font-face{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
      url(../fonts/MaterialIcons-Regular.woff) format('woff'),
      url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons{
    font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.login-error{
    color: white;
    text-shadow: 2px 3px 3px red;
    display: flex;
    justify-content: center;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    border: 1px solid red;
    border-radius: 20px;
    padding: .5em;
    box-shadow: 2px 4px 10px 2px red;
    margin-bottom: 1em;
}

.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

